<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BizPage Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/app/img/favicon.png" rel="icon">
  <link href="static/app/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  {% load static %}
  <!-- Bootstrap CSS File -->
  <link href="{% static 'app/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'app/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  {% load static %}
  <!-- Main Stylesheet File -->
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/cardService.css' %}">
  

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->

    {% block contenido  %}
    {% endblock %}

</head>

    <!--==========================
      Header
    ============================-->
    <header id="header">
      <div class="container-fluid">
  
        <div id="logo" class="pull-left">
        <h1><a href="{% url 'home' %}" class="scrollto">ClearSolutions</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
        <!-- 
          <a href="#intro">
            <img src="{% static 'app/img/logo.png' %}" alt="" title="" />
          </a> 
        -->
        </div>
  




        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li {% if request.path == '/' %}class="menu-active"{% endif %}><a href="{% url 'home' %}#intro">Inicio</a></li>

            <li {% if request.path == '/servicios/' %} class="menu-has-children menu-active" {% else %} class="menu-has-children"{% endif %}>
              <a href="{% url 'servicios' %}#servicios">Servicios</a>
              <ul>
                <li class="menu-has-children"><a href="#">Servicios de Mantencion</a>
                  <ul>
                    <li><a href="{% url 'servicios' %}#mantenimiento">Mantenimiento</a></li>
                    <li><a href="{% url 'servicios' %}#hardware">Actualización de Hardware</a></li>
                    <li><a href="{% url 'servicios' %}#so">Formateo y Reinstalación del Sistema Operativo</a></li>
                    <li><a href="{% url 'servicios' %}#malware">Seguridad y Eliminación de Malware</a></li>
                    <li><a href="{% url 'servicios' %}#recuperacion">Copia de seguridad y recuperación</a></li>
                    <li><a href="{% url 'servicios' %}#ensamblado">Ensamblado de Computadoras Personalizadas</a></li>
                    <li><a href="{% url 'servicios' %}#remote">Asistencia Remota</a></li>
                    <li><a href="{% url 'servicios' %}#intro">Atención al Cliente</a></li>
                  </ul>
                <li class="menu-has-children"><a href="#">Servicios Integrales</a>
                  <ul>
                    <li><a href="#">Asesorías TI</a></li>
                    <li><a href="{% url 'servicios' %}#desarrollo">Desarrollo Landing Page</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li {% if request.path == '/about/' %}class="menu-active"{% endif %}>
              <a href="{% url 'about' %}">Acerca de Nosotros</a>
            </li>

            <li {% if request.path == '/contacto/' %}class="menu-active"{% endif %}>
              <a href="{% url 'contacto' %}">Contáctenos</a>
            </li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->

 
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>BizPage</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'home' %}#intro">Inicio</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'about' %}">Acerca de Nosotros</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'servicios' %}#servicios">Servicios</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contacténos</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              Chile <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> clearsolutions@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://www.instagram.com/clearitsolutions/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
              <!--
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              -->
            </div>
          </div>

          <!-- SECCION SUSCRIBETE A NUESTRAS NOTICIAS 
          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>
          -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>ClearSolutions</strong>. Todos los derechos reservados
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  {% block js %}

  <!-- JavaScript Libraries -->
  <script src="{% static 'app/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'app/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'app/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'app/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'app/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'app/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'app/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'app/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'app/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'app/lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'app/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'app/lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'app/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'app/js/main.js' %}"></script>


  {% endblock %}

</body>
</html>
