{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<body>
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators"></ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <!-- Video para pantallas grandes -->
                                <video autoplay loop muted id="video-large" poster="{% static 'app/img/intro-carousel/video-2-poster.jpg' %}">
                                    <source src="{% static 'app/img/intro-carousel/video-2.mp4' %}" type="video/mp4">
                                </video>

                                <!-- Video para dispositivos móviles -->
                                <video autoplay loop muted id="video-small" poster="{% static 'app/img/intro-carousel/historia-poster.jpg' %}">
                                    <source src="{% static 'app/img/intro-carousel/historia.mp4' %}" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url({% static 'app/img/intro-carousel/1.jpg' %});">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>SOLUCIONES TECNÓLOGICAS A UN CLICK DE DISTANCIA</h2>
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>
                                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url({% static 'app/img/intro-carousel/3.jpg' %});">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>LLEVA TU EQUIPO AL SIGUIENTE NIVEL</h2>
                                <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
                                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section><!-- #intro -->
  
    <main id="main">
  
      <!--==========================
        Featured Services Section
      ============================-->
      <section id="featured-services">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 box">
              <i class="ion-ios-bookmarks-outline"></i>
              <h4 class="title"><a href="">Lorem Ipsum Delino</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
  
            <div class="col-lg-4 box box-bg">
              <i class="ion-ios-stopwatch-outline"></i>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
  
            <div class="col-lg-4 box">
              <i class="ion-ios-heart-outline"></i>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
  
          </div>
        </div>
      </section><!-- #featured-services -->
  
      <!--==========================
        About Us Section
      ============================-->
      <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>¿Quiénes somos?</h3>
            <p>En ClearSolutions, somos más que una empresa de reparación de computadoras y servicios informáticos. Somos tu aliado de confianza en el mundo digital. 
              Fundada con una pasión por la tecnología y una misión clara de simplificar la vida de nuestros clientes, hemos estado brindando soluciones informáticas de primera calidad desde [año de fundación]. Nuestra dedicación a la excelencia y el compromiso con la satisfacción del cliente nos han convertido en líderes en el sector. 
              Ya sea que seas un usuario doméstico que necesita una reparación rápida o una empresa que busca soluciones tecnológicas personalizadas, estamos aquí para ayudarte en cada paso del camino.
              Confía en nosotros para ser tu socio tecnológico confiable. ¡Estamos aquí para ayudarte a triunfar en el mundo digital!
          </p>
          </header>
  
          <div class="row about-cols">
  
            <div class="col-md-4 wow fadeInUp">
              <div class="about-col">
                <div class="img">
                  <img src="{% static 'app/img/about-mission.jpg' %}" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Nuestra Misión</a></h2>
                <p>
                  En ClearSolutions nuestra misión es simplificar la vida de nuestros clientes mediante soluciones informáticas de primera calidad. 
                  Nos comprometemos a proporcionar servicios excepcionales y personalizados, tanto para usuarios domésticos como para empresas. 
                  Nuestro enfoque constante en la excelencia y la satisfacción del cliente nos impulsa a ser líderes en el sector de la tecnología. 
                  Estamos dedicados a ser el socio tecnológico confiable que necesitas para triunfar en el mundo digital.
                </p>
              </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="about-col">
                <div class="img">
                  <img src="{% static 'app/img/about-plan.jpg' %}" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-list-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Nuestro Plan</a></h2>
                <p>
                  Ofrecer soluciones tecnológicas de alta calidad y personalizadas a nuestros clientes.
                  Mantenernos actualizados con las últimas tendencias tecnológicas y avances en el sector.
                  Priorizar la satisfacción del cliente a través de un servicio rápido, confiable y transparente.
                  Expandir nuestro alcance para atender tanto a usuarios domésticos como a empresas de manera efectiva.
                  Fomentar una cultura de innovación y excelencia en nuestro equipo para brindar servicios de vanguardia.
                </p>
              </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="about-col">
                <div class="img">
                  <img src="{% static 'app/img/about-vision.jpg' %}" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Nuestra Visión</a></h2>
                <p>
                  Buscamos ser la primera opción para quienes necesiten apoyo tecnológico, ya sea a nivel doméstico o empresarial. 
                  Queremos ser reconocidos por nuestra capacidad de simplificar la vida de nuestros clientes en un mundo digital en constante evolución. 
                  Además, aspiramos a mantenernos como líderes en el sector al continuar ofreciendo servicios excepcionales y personalizados que impulsen el éxito de nuestros clientes en el mundo digital.
                </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #about -->
  
      <!--==========================
        Call To Action Section
      ============================-->
      <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
          <h3>Call To Action</h3>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>
      </section><!-- #call-to-action -->
  
      <!--==========================
        Portfolio Section
      ============================-->
      <section id="portfolio"  class="section-bg" >
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Our Portfolio</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/app1.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/app1.jpg' %}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">App 1</a></h4>
                  <p>App</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/web3.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/web3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Web 3</a></h4>
                  <p>Web</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/app2.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/app2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">App 2</a></h4>
                  <p>App</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/card2.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/card2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Card 2</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/web2.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/web2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Web 2</a></h4>
                  <p>Web</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/app3.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/app3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">App 3</a></h4>
                  <p>App</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/card1.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/card1.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Card 1</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/card3.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/card3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Card 3</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/web1.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/web1.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Web 1</a></h4>
                  <p>Web</p>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #portfolio -->
  
      <!--==========================
        Clients Section
      ============================-->
      <section id="clients" class="wow fadeInUp">
        <div class="container">
  
          <header class="section-header">
            <h3>Our Clients</h3>
          </header>
  
          <div class="owl-carousel clients-carousel">
            <img src="{% static 'app/img/clients/client-1.png' %}" alt="">
            <img src="{% static 'app/img/clients/client-2.png' %}" alt="">
            <img src="{% static 'app/img/clients/client-3.png' %}" alt="">
            <img src="{% static 'app/img/clients/client-4.png' %}" alt="">
            <img src="{% static 'app/img/clients/client-5.png' %}" alt="">
            <img src="{% static 'app/img/clients/client-6.png' %}" alt="">
            <img src="{% static 'app/img/clients/client-7.png' %}" alt="">
            <img src="{% static 'app/img/clients/client-8.png' %}" alt="">
          </div>
  
        </div>
      </section><!-- #clients -->
  
      <!--==========================
        Clients Section
      ============================-->
  
      <!--==========================
        Team Section
      ============================-->
      <section id="team">
        <div class="container">
          <div class="section-header wow fadeInUp">
            <h3>Team</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="{% static 'app/img/team-1.jpg' %}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Ignacio López</h4>
                    <span>Maquina del sexo</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href="https://www.linkedin.com/in/lopezignacho/"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="member">
                <img src="{% static 'app/img/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>  

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="member">
                <img src="{% static 'app/img/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>  

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="member">
                <img src="{% static 'app/img/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
  
        </div>
      </section><!-- #team -->
      
  </main>\
</body>



{% endblock %}