{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<body>
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators"></ol>
                <div class="carousel-inner" role="listbox">
                  
                  <div class="carousel-item active">
                    <div class="carousel-container">
                    <div class="carousel-content">
                      <!-- Video para pantallas grandes -->
                      <video autoplay loop muted playsinline id="video-large" poster="{% static 'app/img/intro-carousel/video-2-poster.jpg' %}">
                          <source src="{% static 'app/img/intro-carousel/sitioweb-desktop.mp4' %}" type="video/mp4">
                      </video>

                      <!-- Video para dispositivos móviles -->
                      <video autoplay loop muted playsinline id="video-small" poster="{% static 'app/img/intro-carousel/historia-poster.jpg' %}">
                          <source src="{% static 'app/img/intro-carousel/sitio-web.mp4' %}" type="video/mp4">
                      </video>
                    </div>
                  </div>
                </div>

                  <div class="carousel-item">
                    <div class="carousel-container">
                      <div class="carousel-content">
                          <!-- Video para pantallas grandes -->
                          <video autoplay loop muted playsinline id="video-large" poster="{% static 'app/img/intro-carousel/video-2-poster.jpg' %}">
                              <source src="{% static 'app/img/intro-carousel/video-2.mp4' %}" type="video/mp4">
                          </video>

                          <!-- Video para dispositivos móviles -->
                          <video autoplay loop muted playsinline id="video-small" poster="{% static 'app/img/intro-carousel/historia-poster.jpg' %}">
                              <source src="{% static 'app/img/intro-carousel/historia.mp4' %}" type="video/mp4">
                          </video>
                      </div>
                    </div>
                  </div>
                                                                     
                    <div class="carousel-item" style="background-image: url({% static 'app/img/intro-carousel/1.jpg' %});">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>SOLUCIONES TECNÓLOGICAS A UN CLICK DE DISTANCIA</h2>
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>
                                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item" style="background-image: url({% static 'app/img/intro-carousel/3.jpg' %});">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>LLEVA TU EQUIPO AL SIGUIENTE NIVEL</h2>
                                <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
                                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section><!-- #intro -->
  
    <main id="main">
  
      <!--==========================
        Featured Services Section
      ============================-->
      <section id="featured-services">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 box">
              <i class="ion-paper-airplane" style="color: #ffca00"></i>
              <h4 class="title"><a href="">Soluciones Responsivas</a></h4>
              <p class="description">Desarrollamos paginas completamente compatibles con la visualización mobile para distintos dispositivos</p>
            </div>
  
            <div class="col-lg-4 box box-bg">
              <i class="ion-ios-stopwatch-outline" style="color: greenyellow"></i>
              <h4 class="title"><a href="">Tiempos Verdaderos</a></h4>
              <p class="description">Planificamos meticulosamente todas las actividades agendadas para lograr una entrega sin retrasos en los plazos comprometidos </p>
            </div>
  
            <div class="col-lg-4 box">
              <i class="ion-ios-heart-outline" style="color: #ed143d;"></i>
              <h4 class="title"><a href="">Soluciones pensadas para ti</a></h4>
              <p class="description">En clearIT te asesoramos de una manera profesional, con el objetivo de brindar la mejor solución para tu negocio</p>
            </div>
  
          </div>
        </div>
      </section><!-- #featured-services -->
  
      <!--==========================
        Call To Action Section
      ============================-->
      <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
          <h3>Llamado a la Acción!</h3>
          <p> Si desea realizar alguna consulta, cotización sobre nuestros servicios, no dude en escribirnos mediante nuestro formulario de contacto, nuestro personal se pondra en contacto con usted lo antes posible!</p>
          <a class="cta-btn" href="{% url 'contacto' %}">Contáctenos</a>
        </div>
      </section><!-- #call-to-action -->
  
      <!--==========================
        Portfolio Section
      ============================-->
      <section id="portfolio"  class="section-bg" >
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Nuestro Portafolio</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Todo</li>
                <li data-filter=".filter-app">Hardware</li>
                <!-- <li data-filter=".filter-card">Card</li> -->
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/pc1.0.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/pc1.0.jpg' %}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="{% static 'app/img/portfolio/pc1.1.jpg'%}" data-lightbox="portfolio"></a>
                  <a href="{% static 'app/img/portfolio/pc1.2.jpg'%}" data-lightbox="portfolio"></a>
                  <a href="{% static 'app/img/portfolio/pc1.3.jpg'%}" data-lightbox="portfolio"></a>
                  <a href="{% static 'app/img/portfolio/pc1.4.jpg'%}" data-lightbox="portfolio"></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Armado de equipo</a></h4>
                  <p>Hardware</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <!-- Video para pantallas grandes -->
                  <video autoplay loop muted playsinline id="video-large" style="padding-top: 9%;">
                    <source src="{% static 'app/img/busacVideo.mp4' %}" type="video/mp4">
                  </video>

                  <!-- Video para dispositivos móviles -->
                  <video autoplay loop muted playsinline id="video-small">
                    <source src="{% static 'app/img/busacVideo.mp4' %}" type="video/mp4">
                </video>
                  <a href="http://www.busac.cl" class="link-details" title="Visitar Sitio Web"><i class="ion ion-android-open"></i></a>

                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Desarrollo Landing</a></h4>
                  <p>BUSAC.CL</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/pc2.0.webp' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/pc2.0.webp' %}" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="{% static 'app/img/portfolio/pc2.1.webp' %}" data-lightbox="portfolio"></a>
                  <a href="{% static 'app/img/portfolio/pc2.2.webp' %}" data-lightbox="portfolio"></a>
                  <a href="{% static 'app/img/portfolio/pc2.3.webp' %}" data-lightbox="portfolio"></a>
                </figure>
            
                <div class="portfolio-info">
                  <h4><a href="#">Armado de equipo</a></h4>
                  <p>Hardware</p>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/pc3.0.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/pc3.0.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="{% static 'app/img/portfolio/pc3.1.jpg' %}" data-lightbox="portfolio"></a>
                  <a href="{% static 'app/img/portfolio/pc3.2.jpg' %}" data-lightbox="portfolio"></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Armado de equipo</a></h4>
                  <p>Hardware</p>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/pc4.0.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/pc4.0.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="{% static 'app/img/portfolio/pc4.1.jpg' %}" data-lightbox="portfolio"></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Armado de equipo</a></h4>
                  <p>Hardware</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/pc5.0.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/pc5.0.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="{% static 'app/img/portfolio/pc5.1.jpg' %}" data-lightbox="portfolio"></a>
                  <a href="{% static 'app/img/portfolio/pc5.2.jpg' %}" data-lightbox="portfolio"></a>
                  <a href="{% static 'app/img/portfolio/pc5.3.jpg' %}" data-lightbox="portfolio"></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Armado de equipo</a></h4>
                  <p>Hardware</p>
                </div>
              </div>
            </div>

          <!--  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/card2.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/card2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Card 2</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>
           
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/web2.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/web2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Web 2</a></h4>
                  <p>Web</p>
                </div>
              </div>
            </div>
  -->
  <!-- 
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/card1.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/card1.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Card 1</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/card3.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/card3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Card 3</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="{% static 'app/img/portfolio/web1.jpg' %}" class="img-fluid" alt="">
                  <a href="{% static 'app/img/portfolio/web1.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Web 1</a></h4>
                  <p>Web</p>
                </div>
              </div>
            </div>
  -->
          </div>
  
        </div>
      </section><!-- #portfolio -->
      
  </main>\
</body>



{% endblock %}