{% extends 'app/base.html' %}

{% load static %}

{% block css %}



{% endblock %}

{% block contenido %}

<section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle">Conozca Nuestros Servicios</h1>

		<article class="postcard dark blue" id="mantenimiento">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{% static 'app/img/services-gallery/mantenimiento.png' %}" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Mantenimiento</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Nuestros servicios de mantenimiento están diseñados para mantener tus computadoras en óptimas condiciones. 
                    Realizamos una limpieza interna y externa, actualizaciones de software, reemplazo de pasta térmica y limpieza de ventiladores para garantizar que tus sistemas funcionen de manera eficiente y confiable. 
                    Nuestro enfoque integral asegura que tu equipo esté siempre en su mejor estado, evitando el sobrecalentamiento y mejorando su vida útil.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>

		<article class="postcard dark red" id="malware">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{% static 'app/img/services-gallery/malware.png' %}" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">Seguridad y Eliminación de Malware</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Nuestros servicios de seguridad y eliminación de malware protegen tu computadora de amenazas en línea y mantienen tu sistema libre de programas maliciosos. 
                    Utilizamos herramientas avanzadas para escanear y eliminar cualquier malware o virus que pueda estar afectando el rendimiento de tu equipo o poniendo en riesgo tus datos.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play red">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>

		<article class="postcard dark green" id="so">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{% static 'app/img/services-gallery/sistema-operativo.png' %}" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title green"><a href="#">Formateo y Reinstalación del Sistema Operativo</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Si experimentas problemas de rendimiento, errores del sistema o una necesidad de comenzar de nuevo, realizamos un formateo seguro de tu sistema y reinstalamos el sistema operativo (Windows 10 - 11, Linux), 
                    asegurándonos de que tu computadora esté en su estado más óptimo. Esto te proporciona un sistema fresco y libre de problemas, listo para satisfacer tus necesidades y tareas con eficiencia.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play green">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>

		<article class="postcard dark yellow" id="hardware">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{% static 'app/img/services-gallery/hardware.png' %}" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Actualización de Hardware</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
                Nuestros servicios de actualización de hardware te brindan la oportunidad de mejorar y optimizar el rendimiento de tu computadora. Si sientes que tu equipo se ha vuelto más lento o no cumple con tus necesidades actuales, estamos aquí para ayudarte. 
                Evaluamos tus necesidades y te recomendamos las actualizaciones de hardware adecuadas, como una nueva tarjeta gráfica, más memoria RAM o un disco duro de mayor capacidad. 
                Al mejorar tus componentes, obtendrás un rendimiento más rápido y eficiente, lo que te permitirá realizar tareas con mayor facilidad, como juegos, edición de video o trabajo profesional.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>

        <article class="postcard dark orange" id="recuperacion">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{% static 'app/img/services-gallery/recuperacion.png' %}" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title orange"><a href="#">Copia de Seguridad y Recuperación</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
                Nuestros servicios de copia de seguridad y recuperación están diseñados para proteger tus datos y archivos valiosos. Realizamos copias de seguridad periódicas de tus datos, creando una capa adicional de seguridad para tus activos digitales. 
                En caso de pérdida, ya sea por un error inesperado, un fallo del sistema o un virus, estamos listos para recuperar tus datos y restaurarlos a su estado original.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play orange">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>

        <article class="postcard dark yellow" id="ensamblado"> 
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{% static 'app/img/services-gallery/ensamblado.png' %}" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Ensamblado de Computadoras Personalizadas</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Nuestros servicios de ensamblado de computadoras personalizadas te ofrecen la oportunidad de tener una computadora a tu medida. 
                    Trabajamos contigo para seleccionar los componentes ideales según tus necesidades y preferencias. Luego, ensamblamos cuidadosamente cada parte para crear un sistema único y poderoso que se adapta perfectamente a tus tareas y objetivos. 
                    Esto permite una mayor personalización, un mejor rendimiento y la posibilidad de adaptar la computadora a tareas específicas, como juegos o diseño gráfico.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>

        <article class="postcard dark yellow" id="remote">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{% static 'app/img/services-gallery/soporte.png' %}" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Asistencia Remota</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Nuestros servicios de asistencia remota te brindan la conveniencia de recibir ayuda inmediata para resolver problemas técnicos en tu computadora sin tener que desplazarte. 
                    A través de una conexión segura, nuestros expertos pueden acceder a tu computadora y solucionar problemas, instalar software, configurar sistemas y brindarte orientación en tiempo real.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>

        <article class="postcard dark yellow" id="desarrollo">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{% static 'app/img/services-gallery/desarrollo.png' %}" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Desarrollo de Sitio Web</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Nuestro equipo de expertos en diseño web y desarrollo crea sitios web a medida, adaptados a tus necesidades y objetivos. 
                    Utilizamos tecnologías modernas y diseño atractivo para proporcionarte una presencia sólida en internet. 
                    Ya sea un sitio web informativo, una tienda en línea o una plataforma interactiva, te ayudamos a materializar tu visión en la web.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>

	</div>
</section>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
{% endblock %}

